
@{
    ViewBag.Title = "Index";

    Setting setting = ViewBag.Setting as Setting;

    List<Doctor> doctors = ViewBag.Doctor as List<Doctor>;

    List<Department> departments = ViewBag.Department as List<Department>;
}

<!-- Page Title -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>Appointment</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a href="@Url.Action("index","home")">Home</a></li>
                    <li>Appointment</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Appointment Area -->
<div class="appointment-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-5 p-0">
                <div class="contant-number">
                    <h3><i class="icofont-phone"></i> @setting.Phone</h3>
                </div>
            </div>
            <div class="col-md-12 col-lg-7">
                
                <div class="appointment-form">
                    <h2 class="title">Make an Appointment</h2>
                    <div class="contact-form">
                        <form action="@Url.Action("message")" method="POST" id="ajax-contact">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" id="name" required data-error="Please enter your name" placeholder="Name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" required data-error="Please enter your email" placeholder="Email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="tel" class="form-control" name="tel" id="tel" required data-error="Please enter your number" placeholder="Phone">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 pl-10">
                                    <div class="form-group">
                                        <select name="DepartmentId" class="form-control">
                                            <option value="0">Department</option>
                                            @foreach (var dep in departments)
                                            {
                                                <option value="@dep.Id">@dep.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 pr-10">
                                    <div class="form-group">
                                        <select name="DoctoId" class="form-control">
                                            <option value="0">Doctor</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 pl-10">
                                    <div class="form-group">
                                        <input class="form-control" id="datepicker" placeholder="Booking Date">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="4" required data-error="Write your message" placeholder="Message"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <p class="form-messages"></p>
                                        <button type="submit" class="default-btn">Send Message</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
                </div>
            </div>
    </div>
</div>
<!-- End Appointment Area -->
