@model VwHome

@{
    Setting setting = ViewBag.Setting as Setting;
}


<div class="hero-slider owl-carousel owl-theme">

    @foreach (var item in Model.Sliders)
    {
        <div class="hs-item" style="background-image:url(../../Uploads/@item.Photo)">
            <div class="d-table">
                <div class="d-tablecell">
                    <div class="hero-text text-center">
                        <h1>@item.Text</h1>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<!-- End Hero Slider -->
<!-- Services -->
<div class="services-area services-box">
    <div class="container">
        <div class="row">
            @foreach (var sub in Model.Subsliders)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="single-card">
                        <div class="thumb-img">
                            <img src="~/Uploads/@sub.Photo" alt="~/Uploads/@sub.Photo" />
                        </div>
                        <div class="caption-text text-center">
                            <h3>@sub.Title</h3>
                            <p>@sub.Text</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- End Services -->
<!-- About Section -->
<section class="about-section ptb-100">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-lg-6">
                <div class="about-us-img">
                    <img src="~/Uploads/@Model.About.Photo" alt="~/Uploads/@Model.About.Photo">
                </div>
            </div>

            <div class="col-md-12 col-lg-6">
                <div class="about-us-text">
                    <h2>@Model.About.Title</h2>
                    <p>@Html.Raw(Model.About.Text)</p>
                    <a href="@Url.Action("index","about")" class="default-btn">About Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about section -->
<!-- Call To Action -->
<section class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-9">
                <div class="call-to-action-text">
                    <i class="icofont-first-aid"></i>
                    <h3>Health Care Center</h3>
                    <p>if you have any Emerangcy by health problem contact this <span>No. @setting.Phone</span> or contact form</p>
                </div>
            </div>

            <div class="col-md-12 col-lg-3">
                <a href="@Url.Action("index","contact")" class="default-btn">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- End Call To Action -->
<!-- Departments section -->
<section class="department-section pt-100 pb-50 gray-bg">
    <div class="container">
        <div class="section-title">
            <h2>Our Departments</h2>
            <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="row">
            @foreach (var dep in Model.Departments)
            {
                <div class="col-md-4 col-lg-3">
                    <div class="single-department">
                        <i class="@dep.Icon"></i>
                        <h3><a href="@Url.Action("details","department",new {Slug= dep.Slug})">@dep.Name</a></h3>
                        <p>@dep.MinAbout</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- End Departments section -->
<!-- Video Section -->
<section class="video-section ptb-100">
    <div class="container">
        <div class="section-title white-title">
            <h2>Watch Our Video</h2>
            <p>@setting.VideoText</p>
        </div>

        <div class="video-content mb-minus-330">
            <div class="d-table">
                <div class="d-tablecell">
                    <div class="sonar-wrapper">
                        <div class="sonar-emitter">
                            <div class="sonar-wave"></div>
                            <a href="@setting.VideoLink" class="play-video popup-youtube">
                                <i class="icofont-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Video Section -->
<!-- Counter section -->
<div class="counter-section pt-100 pb-70 pt-330">
    <div class="container">
        <div class="row">
            @foreach (var fact in Model.Facts)
            {
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="single-counter">
                        <i class="@fact.Icon"></i>
                        <h3 class="counter">@fact.Count</h3>
                        <p>@fact.Text</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- End counter section -->
<!-- Expert Doctors -->
<section class="expert-doctors ptb-100 gray-bg pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Expert Doctors</h2>
            <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="expert-doctors-carousel owl-carousel owl-theme owl-theme-2">
            @foreach (var item in Model.Doctors)
            {
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="~/Uploads/@item.Photo" alt="~/Uploads/@item.Photo" />
                        <div class="hover-social">
                            <div class="d-table">
                                <div class="d-tablecell">
                                    <ul>
                                        <li>
                                            <a href="@item.Linkedin">
                                                <i class="icofont-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@item.Twitter">
                                                <i class="icofont-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@item.Facebook">
                                                <i class="icofont-facebook"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="caption-text text-center">
                            <h3><a href="@Url.Action("details","doctors", new {Slug= item.Slug})">@item.Name</a></h3>
                        <span class="designation mb-10">@item.Speciality.Name</span>
                        <p>@Html.Raw(item.MinAbout)</p>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- Edn Expert Doctors -->
<!-- Patient Feedback -->
<section class="patient-feedback ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Patient Feedback</h2>
            <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="feedback-carousel owl-carousel owl-theme owl-theme-2">
            @foreach (var feed in Model.Feedbacks)
            {
                <div class="single-feedback">
                    <div class="feedback-text">
                        <i class="icofont-quote-right"></i>

                        <p>@feed.Text</p>

                        <div class="profile-content">
                            <img src="~/Uploads/@feed.Photo" alt="~/Uploads/@feed.Photo" />
                            <h4>@feed.Fullname</h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- End Patient Feedback -->
<!-- CTA Area -->
<div class="cta-area gray-bg ptb-100">
    <div class="container">
        <div class="cta-text-content">
            <h3>We are constantly evaluating and implementing ways to improve patient safety.</h3>
            <p>Please speak up when you have questions or concerns.</p>

            <div class="cta-contant">
                <i class="icofont-phone"></i>
                @setting.Phone
            </div>
        </div>

        <div class="cta-doctor-img">
            <img src="~/Public/assets/img/doctor.png" alt="Doctor">
        </div>
    </div>
</div>
<!-- CTA Area -->
<!-- Latest news section -->
<section class="latest-news ptb-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Latest News</h2>
            <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="latest-news-carousel owl-carousel owl-theme owl-theme-2">
            @foreach (var blog in Model.Blogs)
            {
            <div class="single-card actical-card">
                <div class="thumb-img">
                    <a href="@Url.Action("read","blog", new {Slug= blog.Slug})">
                        <img src="~/Uploads/@blog.TitlePhoto" alt="~/Uploads/@blog.TitlePhoto" />
                    </a>
                </div>

                <div class="caption-text">
                    <h3><a href="@Url.Action("read","blog", new {Slug= blog.Slug})">@blog.Title</a></h3>

                    <ul class="meta-tag">
                        <li class="author">
                            <img src="~/Uploads/@blog.Doctor.Photo" alt="@blog.Doctor.Name">
                            <a href="@Url.Action("details","doctors", new {Slug= blog.Doctor.Slug})">@blog.Doctor.Name</a>
                        </li>
                        <li>@blog.Date.ToString("dd MMM,yyy")</li>
                    </ul>

                    <p>@Html.Raw(blog.MinAbout)</p>

                    <a href="@Url.Action("read","blog", new {Slug= blog.Slug})" class="read-more">Read More <i class="icofont-swoosh-right"></i></a>
                </div>
            </div>
            }
            

            <div class="single-card actical-card">
                <div class="thumb-img">
                    <a href="#">
                        <img src="~/Public/assets/img/news/2.jpg" alt="News Image" />
                    </a>
                </div>

                <div class="caption-text">
                    <h3><a href="#">4 Simple Tips To Dental Patient Marketing</a></h3>

                    <ul class="meta-tag">
                        <li class="author">
                            <img src="~/Public/assets/img/patient/1.jpg" alt="">
                            <a href="#">Dr. Jack</a>
                        </li>
                        <li>7 Jan, 2019</li>
                        <li><i class="icofont-speech-comments"></i> 30</li>
                    </ul>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>

                    <a href="#" class="read-more">Read More <i class="icofont-swoosh-right"></i></a>
                </div>
            </div>

            <div class="single-card actical-card">
                <div class="thumb-img">
                    <a href="#">
                        <img src="~/Public/assets/img/news/3.jpg" alt="News Image" />
                    </a>
                </div>

                <div class="caption-text">
                    <h3><a href="#">How to Donate Medical Supplies</a></h3>

                    <ul class="meta-tag">
                        <li class="author">
                            <img src="~/Public/assets/img/patient/1.jpg" alt="">
                            <a href="#">Dr. Tom</a>
                        </li>
                        <li>8 Jan, 2019</li>
                        <li><i class="icofont-speech-comments"></i> 30</li>
                    </ul>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>

                    <a href="#" class="read-more">Read More <i class="icofont-swoosh-right"></i></a>
                </div>
            </div>

            <div class="single-card actical-card">
                <div class="thumb-img">
                    <a href="#">
                        <img src="~/Public/assets/img/news/4.jpg" alt="News Image" />
                    </a>
                </div>

                <div class="caption-text">
                    <h3><a href="#">Simple First Aid Tips For An Injured Ankle</a></h3>

                    <ul class="meta-tag">
                        <li class="author">
                            <img src="~/Public/assets/img/patient/1.jpg" alt="">
                            <a href="#">Dr. Jaci</a>
                        </li>
                        <li>15 Jan, 2019</li>
                        <li><i class="icofont-speech-comments"></i> 30</li>
                    </ul>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>

                    <a href="#" class="read-more">Read More <i class="icofont-swoosh-right"></i></a>
                </div>
            </div>

            <div class="single-card actical-card">
                <div class="thumb-img">
                    <a href="#">
                        <img src="~/Public/assets/img/news/5.jpg" alt="News Image" />
                    </a>
                </div>

                <div class="caption-text">
                    <h3><a href="#">Tips for Moms to Detect Medicare Scams</a></h3>

                    <ul class="meta-tag">
                        <li class="author">
                            <img src="~/Public/assets/img/patient/1.jpg" alt="">
                            <a href="#">Dr. Alert</a>
                        </li>
                        <li>25 Jan, 2019</li>
                        <li><i class="icofont-speech-comments"></i> 30</li>
                    </ul>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>

                    <a href="#" class="read-more">Read More <i class="icofont-swoosh-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Latest news section -->
<!-- Our Newsletter -->
<section class="newsletter-section ptb-100">
    <div class="container">
        <div class="section-title white-title">
            <h2>Join Our Newsletter</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>

        <div class="subscribe-from">
            <form class="newsletter-form" data-toggle="validator">
                <input type="email" class="form-control" placeholder="Enter email" name="EMAIL" required autocomplete="off">
                <button type="submit" class="btn submit-btn"><i class="icofont-location-arrow"></i></button>
                <div id="validator-newsletter" class="form-result"></div>
            </form>
        </div>
    </div>
</section>
<!-- End Our Newsletter -->