
@{
    ViewBag.Title = "Index";

    Setting setting = ViewBag.Setting as Setting;

    List<OpeningHour> openings = ViewBag.OpeningHours as List<OpeningHour>;
}

<!-- Page Title -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>Contact Us</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a href="@Url.Action("index","home")">Home</a></li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Contact section -->
<section class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5">
                <div class="contact-info">
                    <h3 class="title">Get in Touch</h3>
                    <ul>
                        <li><i class="icofont-google-map"></i>  @setting.Adress</li>
                        <li><i class="icofont-envelope"></i> @setting.Email</li>
                        <li><i class="icofont-smart-phone"></i>  @setting.Phone</li>
                    </ul>
                </div>

                <div class="opening-hours">
                    <h3 class="title">Opening Hours</h3>
                    <ul>
                        @foreach (var open in openings)
                        {
                        <li>@open.Day <span>@open.OpenHour</span></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="col-md-12 col-lg-7">
                <h3 class="title">Questions? Let our experts help!</h3>
                <p>Team of Professionals</p>

                <div class="contact-form">
                    <form action="@Url.Action("message")" method="POST" id="ajax-contact">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" id="name" required data-error="Please enter your name" placeholder="Name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" required data-error="Please enter your email" placeholder="Email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="tel" class="form-control" name="tel" id="tel" required data-error="Please enter your number" placeholder="Phone">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="4" required data-error="Write your message" placeholder="Message"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <p class="form-messages"></p>
                                    <button type="submit" class="default-btn">Send Message</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact section -->
<!-- Map -->
<div id="map" data-lat="@setting.Lat" data-lng="@setting.Lng"></div>
<!-- End Map -->

@section script{
    <!-- Map API JS FILES -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApghCIIx9MpQhA768sKXxvR_Okg0SF2k4&amp;callback=initMap"></script>
    <!-- Fox Map JS FILE -->
    <script src="~/Public/assets/js/promedi-map.js"></script>
}
